@font-face {
  font-family: "Avenir Next Cyr";
  src: url("../font/AvenirNextCyr/AvenirNextCyr-Regular.eot");
  src: local("Avenir Next Cyr Regular"), local("AvenirNextCyr-Regular"), url("../font/AvenirNextCyr/AvenirNextCyr-Regular.eot?#iefix") format("embedded-opentype"), url("../font/AvenirNextCyr/AvenirNextCyr-Regular.woff") format("woff"), url("../font/AvenirNextCyr/AvenirNextCyr-Regular.ttf") format("truetype");
  font-style: normal; }
@font-face {
  font-family: "Proxima Nova";
  src: url("../font/proximanova/proximanova-Regular.eot");
  src: local("Proxima Nova  Regular"), local("proximanova-Regular"), url("../font/proximanova/ProximaNova-Regular.eot?#iefix") format("embedded-opentype"), url("../font/proximanova/ProximaNova-Regular.woff") format("woff"), url("../font/proximanova/ProximaNova-Regular.ttf") format("truetype");
  font-style: normal; }
a {
  text-decoration: none; }

li {
  display: inline;
  list-style-type: none; }

.navbar {
  justify-content: normal !important;
  position: fixed;
  z-index: 22; }
  @media only screen and (max-width: 768px) {
    .navbar {
      width: 100% !important;
      left: 0 !important; } }
  @media only screen and (max-width: 420px) {
    .navbar {
      width: 100% !important;
      left: 0 !important; } }
  @media only screen and (max-width: 375px) {
    .navbar {
      width: 100% !important;
      left: 0 !important; } }
  @media only screen and (max-width: 320px) {
    .navbar {
      width: 100% !important;
      left: 0 !important; } }
  .navbar .navbar-collapse {
    padding-left: 0 !important; }
    .navbar .navbar-collapse .navbar-nav .nav-item .nav-link {
      text-align: center !important;
      color: #364962 !important; }

.navbar-light .navbar-toggler {
  color: rgba(0, 0, 0, 0.5);
  border-color: rgba(0, 0, 0, 0.1); }
  @media only screen and (max-width: 768px) {
    .navbar-light .navbar-toggler {
      margin-left: 384px !important; } }
  @media only screen and (max-width: 420px) {
    .navbar-light .navbar-toggler {
      margin-left: 50px !important; } }
  @media only screen and (max-width: 375px) {
    .navbar-light .navbar-toggler {
      margin-left: 10px !important; } }
  @media only screen and (max-width: 320px) {
    .navbar-light .navbar-toggler {
      margin-left: -41px !important; } }

.header {
  max-width: 1920px;
  margin: auto; }

.navbar-light .navbar-toggler {
  color: rgba(0, 0, 0, 0.5);
  border-color: rgba(0, 0, 0, 0.1); }

.navbar {
  margin: auto;
  background-color: #ffffff !important;
  padding: 0; }
  .navbar .navbar-brand {
    padding-left: 30px;
    margin-right: 92.5px;
    padding-top: 28.85px;
    padding-bottom: 28.63px; }
  .navbar .navbar-collapse {
    padding-left: 92.59px; }
    .navbar .navbar-collapse .navbar-nav {
      white-space: nowrap; }
      .navbar .navbar-collapse .navbar-nav .nav-item {
        font-family: "Avenir Next Cyr", sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 25px;
        padding-top: 32px;
        padding-bottom: 33px;
        margin-right: 60px;
        border-bottom: solid 3px transparent; }
        @media only screen and (max-width: 768px) {
          .navbar .navbar-collapse .navbar-nav .nav-item {
            padding: 0;
            margin: auto !important; } }
        .navbar .navbar-collapse .navbar-nav .nav-item:hover {
          transition: 0.3s;
          border-bottom: solid 3px #235DFF; }
        .navbar .navbar-collapse .navbar-nav .nav-item .nav-link {
          color: #364962 !important; }
          .navbar .navbar-collapse .navbar-nav .nav-item .nav-link:hover {
            transition: 0.3s;
            color: #235DFF !important; }

.form-inline .btn {
  margin-right: 352px;
  position: relative;
  color: #235DFF;
  border: solid 1px transparent;
  background: rgba(35, 93, 255, 0.1); }
  @media only screen and (max-width: 768px) {
    .form-inline .btn {
      margin-right: 0;
      margin: auto; } }
  .form-inline .btn:active {
    color: #235DFF;
    border: solid 1px transparent;
    background: rgba(35, 93, 255, 0.1); }

.btn-menu {
  margin-top: 33px;
  margin-left: 750px;
  display: flex;
  justify-content: space-between;
  justify-content: end;
  margin-bottom: 38px; }
  @media only screen and (max-width: 1024px) {
    .btn-menu {
      margin: auto; } }
  @media only screen and (max-width: 767px) {
    .btn-menu {
      text-align: center;
      display: block; } }
  .btn-menu .btn-light {
    padding-top: 12px;
    padding-bottom: 12px;
    margin-right: 30px;
    background-color: transparent;
    border: solid 1px transparent;
    color: #235DFF;
    font-family: Avenir Next Cyr, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px; }
    @media only screen and (max-width: 767px) {
      .btn-menu .btn-light {
        margin-right: 0 !important; } }
    .btn-menu .btn-light:active {
      border: solid 1px transparent;
      background-color: rgba(35, 93, 255, 0.1); }
  .btn-menu .btn-primary {
    font-family: Avenir Next Cyr, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    padding: 12px 36px;
    border-radius: 4px; }
    .btn-menu .btn-primary a {
      color: #ffffff; }

.h1 {
  font-family: Avenir Next Cyr, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 26px;
  line-height: 32px;
  padding-top: 144px; }
  .h1:after {
    display: block;
    content: "";
    width: 50px;
    height: 2px;
    background-color: #235DFF;
    margin: auto;
    margin-top: 11px;
    margin-bottom: 40px; }

.main-block {
  position: relative;
  z-index: 10;
  padding-bottom: 40px;
  box-sizing: border-box;
  border: 1px solid #E9E9E9;
  border-radius: 10px;
  margin: auto; }
  @media only screen and (max-width: 1024px) {
    .main-block {
      position: relative; } }
  @media only screen and (max-width: 992px) {
    .main-block {
      border: none !important;
      margin-left: -37px !important; } }
  @media only screen and (max-width: 767px) {
    .main-block {
      border: none !important;
      margin-left: -37px !important; } }
  .main-block .contact-block {
    margin-right: -74px;
    position: relative;
    z-index: 11;
    left: -70px;
    margin-top: 41px;
    background-color: #f6f9ff;
    border-radius: 5px;
    padding-bottom: 46px; }
    @media only screen and (max-width: 768px) {
      .main-block .contact-block {
        border: none !important;
        left: auto; } }
    @media only screen and (max-width: 767px) {
      .main-block .contact-block {
        border: none !important;
        left: auto; } }
    .main-block .contact-block .h2 {
      font-family: Avenir Next Cyr, sans-serif;
      font-style: normal;
      font-weight: 800;
      font-size: 20px;
      line-height: 25px;
      padding-top: 40px;
      padding-bottom: 42px; }
    .main-block .contact-block p {
      padding-left: 132px;
      font-family: Avenir Next Cyr, sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 22px; }
      @media only screen and (max-width: 768px) {
        .main-block .contact-block p {
          padding-left: 240px !important; } }
      @media only screen and (max-width: 767px) {
        .main-block .contact-block p {
          margin-left: -47px; } }
      @media only screen and (max-width: 768px) {
        .main-block .contact-block p {
          padding-left: 132px !important; } }
      @media only screen and (max-width: 320px) {
        .main-block .contact-block p {
          padding-left: 97px !important; } }
      .main-block .contact-block p .fa-phone-alt {
        color: #235DFF;
        background-color: rgba(35, 93, 255, 0.1);
        padding: 12px;
        border-radius: 40px; }
      .main-block .contact-block p .fa-envelope {
        color: #235DFF;
        background-color: rgba(35, 93, 255, 0.1);
        padding: 12px 12px;
        border-radius: 40px; }
  .main-block .telegram {
    margin-right: -74px;
    position: relative;
    z-index: 11;
    left: -70px;
    margin-top: 26px;
    text-align: justify;
    padding: 74px 220px 73px 50px;
    background-color: #235DFF;
    border-radius: 10px;
    background-image: url("../images/img_telegram.png");
    box-shadow: 0px 10px 40px rgba(35, 93, 255, 0.2); }
    @media only screen and (max-width: 768px) {
      .main-block .telegram {
        border: none !important;
        left: 0 !important; } }
    .main-block .telegram a {
      font-family: Avenir Next Cyr, sans-serif;
      font-style: normal;
      font-weight: 800;
      font-size: 22px;
      line-height: 30px;
      text-decoration: none;
      color: rgba(255, 255, 255, 0.7); }
    .main-block .telegram span {
      color: white; }
  .main-block .form-block {
    padding-top: 41px; }
    @media only screen and (max-width: 992px) {
      .main-block .form-block {
        border: none !important;
        left: 155px !important; } }
    @media only screen and (max-width: 420px) {
      .main-block .form-block {
        border: none !important;
        left: auto !important;
        padding-left: 10px;
        margin-left: 7px !important; } }
    @media only screen and (max-width: 375px) {
      .main-block .form-block {
        border: none !important;
        left: auto !important;
        margin-left: 35px !important; } }
    @media only screen and (max-width: 320px) {
      .main-block .form-block {
        border: none !important;
        left: auto !important;
        padding-left: 10px;
        margin-left: 8px !important; } }
    .main-block .form-block label {
      display: block;
      font-family: Avenir Next Cyr, sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 17px;
      padding-bottom: 11.5px; }
    .main-block .form-block input {
      padding-left: 20px;
      font-family: Avenir Next Cyr, sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 20px;
      width: 400px;
      height: 55px;
      margin-bottom: 25px;
      border: solid 1px #E9E9E9;
      border-radius: 5px;
      outline: none; }
      @media only screen and (max-width: 375px) {
        .main-block .form-block input {
          width: 300px; } }
      .main-block .form-block input:focus {
        border: 1px solid #235DFF; }
    .main-block .form-block #description {
      border: solid 1px #E9E9E9;
      border-radius: 5px;
      outline: none;
      padding-top: 17.5px;
      padding-left: 20px;
      font-family: Avenir Next Cyr, sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 20px;
      width: 400px;
      height: 150px;
      resize: none; }
      @media only screen and (max-width: 375px) {
        .main-block .form-block #description {
          width: 300px; } }
      .main-block .form-block #description:focus {
        border: 1px solid #235DFF; }
    .main-block .form-block .btn-primary {
      padding: 18px 83px 17px 84px;
      margin-left: 150px;
      font-family: Avenir Next Cyr, sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 20px;
      background: #235DFF;
      box-shadow: 0px 10px 40px rgba(35, 93, 255, 0.2);
      border-radius: 10px;
      border: none;
      outline: none;
      margin-top: 30px; }
      @media only screen and (max-width: 768px) {
        .main-block .form-block .btn-primary {
          border: none !important;
          margin-left: 77px !important; } }
      @media only screen and (max-width: 767px) {
        .main-block .form-block .btn-primary {
          margin-left: 30px !important; } }
      @media only screen and (max-width: 414px) {
        .main-block .form-block .btn-primary {
          margin-left: 75px !important; } }
      @media only screen and (max-width: 375px) {
        .main-block .form-block .btn-primary {
          margin-left: 30px !important; } }

.foot-border {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1); }

.bg-secondary {
  margin-top: 200px;
  background-color: #364962 !important; }
  .bg-secondary .footer-block-first {
    max-width: 1920px;
    margin: auto; }
    .bg-secondary .footer-block-first .contact-block-footer {
      padding-top: 52px; }
      .bg-secondary .footer-block-first .contact-block-footer .p {
        font-family: Avenir Next Cyr,sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 16px;
        color: #FFFFFF; }
        @media only screen and (max-width: 1024px) {
          .bg-secondary .footer-block-first .contact-block-footer .p {
            padding-top: 10px !important;
            text-align: center !important;
            margin-left: 15px !important; } }
        @media only screen and (max-width: 768px) {
          .bg-secondary .footer-block-first .contact-block-footer .p {
            margin-left: 290px !important; } }
        @media only screen and (max-width: 420px) {
          .bg-secondary .footer-block-first .contact-block-footer .p {
            margin-left: 125px !important; } }
        @media only screen and (max-width: 375px) {
          .bg-secondary .footer-block-first .contact-block-footer .p {
            margin-left: 95px !important; } }
        @media only screen and (max-width: 320px) {
          .bg-secondary .footer-block-first .contact-block-footer .p {
            margin-left: 70px !important; } }
      .bg-secondary .footer-block-first .contact-block-footer .border-primary {
        border-color: #99BBF6 !important;
        border-radius: 3px;
        height: 40px;
        width: 230px;
        display: block;
        font-family: Avenir Next Cyr,sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 16px;
        color: #FFFFFF !important;
        padding-top: 12px;
        padding-bottom: 12px;
        margin-bottom: 8px;
        text-decoration: none; }
        @media only screen and (max-width: 1024px) {
          .bg-secondary .footer-block-first .contact-block-footer .border-primary {
            margin-left: 375px !important; } }
        @media only screen and (max-width: 768px) {
          .bg-secondary .footer-block-first .contact-block-footer .border-primary {
            margin-left: 240px !important; } }
        @media only screen and (max-width: 420px) {
          .bg-secondary .footer-block-first .contact-block-footer .border-primary {
            margin-left: 65px !important; } }
        @media only screen and (max-width: 375px) {
          .bg-secondary .footer-block-first .contact-block-footer .border-primary {
            margin-left: 45px !important; } }
        @media only screen and (max-width: 320px) {
          .bg-secondary .footer-block-first .contact-block-footer .border-primary {
            margin-left: 20px !important; } }
        .bg-secondary .footer-block-first .contact-block-footer .border-primary img {
          padding-right: 10px; }
    .bg-secondary .footer-block-first .footer-logo {
      padding-top: 150px;
      padding-bottom: 32px;
      margin: auto; }
      @media only screen and (max-width: 1024px) {
        .bg-secondary .footer-block-first .footer-logo {
          padding-top: 15px !important; } }
      @media only screen and (max-width: 768px) {
        .bg-secondary .footer-block-first .footer-logo {
          padding-top: 15px;
          padding-bottom: 10px; } }
      @media only screen and (max-width: 375px) {
        .bg-secondary .footer-block-first .footer-logo img {
          margin-left: 80px; } }
      .bg-secondary .footer-block-first .footer-logo p {
        padding-top: 25px;
        font-family: "Proxima Nova",sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 22px;
        color: #FFFFFF;
        opacity: 0.7;
        display: flex;
        align-items: center; }
        @media only screen and (max-width: 768px) {
          .bg-secondary .footer-block-first .footer-logo p {
            margin-left: 14px; } }
    .bg-secondary .footer-block-first ul {
      padding-top: 150px; }
      @media only screen and (max-width: 1024px) {
        .bg-secondary .footer-block-first ul {
          padding-top: 10px !important;
          text-align: center !important;
          margin-left: 15px !important; } }
      @media only screen and (max-width: 768px) {
        .bg-secondary .footer-block-first ul {
          padding-top: 10px !important;
          text-align: center !important;
          margin-left: 15px !important; } }
      .bg-secondary .footer-block-first ul li {
        display: inline;
        margin-top: 40px !important; }
        @media only screen and (max-width: 767px) {
          .bg-secondary .footer-block-first ul li {
            display: block;
            margin: 10px !important; } }
        .bg-secondary .footer-block-first ul li a {
          display: block;
          color: #ffffff;
          font-family: Avenir Next Cyr, sans-serif;
          font-style: normal;
          font-weight: normal;
          font-size: 18px;
          line-height: 22px;
          margin-right: 50px;
          padding-bottom: 12px; }
    .bg-secondary .footer-block-first p {
      font-family: Avenir Next Cyr, sans-serif;
      color: #ffffff;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 22px; }

.footer-block-second {
  max-width: 1920px;
  margin: auto;
  padding: 18px 0 24px 0; }
  .footer-block-second a {
    color: #ffffff;
    opacity: 0.4;
    font-family: Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    text-decoration-line: underline; }
    @media only screen and (max-width: 1024px) {
      .footer-block-second a {
        margin-left: 420px !important; } }
    @media only screen and (max-width: 768px) {
      .footer-block-second a {
        margin-left: 288px !important; } }
    @media only screen and (max-width: 420px) {
      .footer-block-second a {
        margin-left: 112px !important; } }
    @media only screen and (max-width: 375px) {
      .footer-block-second a {
        margin-left: 85px !important; } }
    @media only screen and (max-width: 320px) {
      .footer-block-second a {
        margin-left: 55px !important; } }
  .footer-block-second p {
    font-family: Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    color: #ffffff;
    opacity: 0.3;
    padding-left: 25px; }
  .footer-block-second .images {
    padding-left: 255px; }
    @media only screen and (max-width: 1024px) {
      .footer-block-second .images {
        margin-left: -240px !important; } }
    @media only screen and (max-width: 768px) {
      .footer-block-second .images {
        padding: 0; } }
  .footer-block-second img {
    margin-left: 35px; }

.stores {
  padding-top: 150px; }
  @media only screen and (max-width: 1024px) {
    .stores {
      padding-top: 0 !important; } }
  @media only screen and (max-width: 768px) {
    .stores {
      padding-top: 10px; } }
  .stores p {
    font-family: Avenir Next Cyr,sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF; }

/*# sourceMappingURL=contact-style.css.map */
