@font-face {
  font-family: "Avenir Next Cyr";
  src: url("../font/AvenirNextCyr/AvenirNextCyr-Regular.eot");
  src: local("Avenir Next Cyr Regular"), local("AvenirNextCyr-Regular"), url("../font/AvenirNextCyr/AvenirNextCyr-Regular.eot?#iefix") format("embedded-opentype"), url("../font/AvenirNextCyr/AvenirNextCyr-Regular.woff") format("woff"), url("../font/AvenirNextCyr/AvenirNextCyr-Regular.ttf") format("truetype");
  font-style: normal; }
a {
  text-decoration: none; }

li {
  display: inline;
  list-style-type: none; }

.header {
  max-width: 1920px;
  margin: auto; }

.shadow-header {
  box-shadow: -5px 10px 10px -10px #ABA6B5; }

.navbar {
  margin: auto;
  background-color: #ffffff !important;
  padding: 0; }
  .navbar .navbar-brand {
    padding-top: 28.85px;
    padding-bottom: 28.63px; }
    @media only screen and (max-width: 767px) {
      .navbar .navbar-brand {
        display: flex;
        justify-content: space-between; } }
  .navbar .navbar-collapse {
    padding-left: 92.59px; }
    .navbar .navbar-collapse .navbar-nav .nav-item {
      font-family: "Avenir Next Cyr", sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 25px;
      padding-top: 32px;
      padding-bottom: 33px;
      margin-right: 60px;
      border-bottom: solid 3px transparent; }
      .navbar .navbar-collapse .navbar-nav .nav-item:hover {
        transition: 0.3s;
        border-bottom: solid 3px #235DFF; }
      .navbar .navbar-collapse .navbar-nav .nav-item .nav-link {
        color: #364962 !important; }
        .navbar .navbar-collapse .navbar-nav .nav-item .nav-link:hover {
          transition: 0.3s;
          color: #235DFF !important; }

.form-inline .btn {
  position: relative;
  color: #235DFF;
  border: solid 1px transparent;
  background: rgba(35, 93, 255, 0.1); }
  .form-inline .btn:active {
    color: #235DFF;
    border: solid 1px transparent;
    background: rgba(35, 93, 255, 0.1); }

.btn-menu .btn-light {
  padding-top: 12px;
  padding-bottom: 12px;
  margin-right: 30px;
  background-color: transparent;
  border: solid 1px transparent;
  color: #235DFF;
  font-family: Avenir Next Cyr, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px; }
  .btn-menu .btn-light:active {
    border: solid 1px transparent;
    background-color: rgba(35, 93, 255, 0.1); }
.btn-menu .btn-primary {
  font-family: Avenir Next Cyr, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  padding: 12px 36px;
  border-radius: 4px; }

.h1 {
  font-family: Avenir Next Cyr, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 26px;
  line-height: 32px;
  padding-top: 54px; }
  .h1:after {
    display: block;
    content: "";
    width: 50px;
    height: 2px;
    background-color: #235DFF;
    margin: auto;
    margin-top: 11px; }

.main-block {
  margin-bottom: 200px;
  width: 932px;
  position: relative;
  z-index: 10;
  left: 135px;
  padding-bottom: 40px;
  margin-top: 40px;
  box-sizing: border-box;
  border: 1px solid #E9E9E9;
  border-radius: 10px; }
  .main-block .contact-block {
    position: relative;
    z-index: 11;
    left: -70px;
    margin-top: 41px;
    background-color: #f6f9ff;
    border-radius: 5px;
    padding-bottom: 46px; }
    .main-block .contact-block .h2 {
      font-family: Avenir Next Cyr, sans-serif;
      font-style: normal;
      font-weight: 800;
      font-size: 20px;
      line-height: 25px;
      padding-top: 40px;
      padding-bottom: 42px; }
    .main-block .contact-block p {
      padding-left: 132px;
      font-family: Avenir Next Cyr, sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 22px; }
      .main-block .contact-block p .fa-phone-alt {
        color: #235DFF;
        background-color: rgba(35, 93, 255, 0.1);
        padding: 12px;
        border-radius: 40px; }
      .main-block .contact-block p .fa-envelope {
        color: #235DFF;
        background-color: rgba(35, 93, 255, 0.1);
        padding: 12px 12px;
        border-radius: 40px; }
  .main-block .telegram {
    position: relative;
    z-index: 11;
    left: -70px;
    margin-top: 26px;
    text-align: justify;
    padding: 74px 260px 73px 50px;
    background-color: #235DFF;
    border-radius: 10px;
    background-image: url("../images/img_telegram.png");
    box-shadow: 0px 10px 40px rgba(35, 93, 255, 0.2); }
    .main-block .telegram a {
      font-family: Avenir Next Cyr, sans-serif;
      font-style: normal;
      font-weight: 800;
      font-size: 22px;
      line-height: 30px;
      text-decoration: none;
      color: rgba(255, 255, 255, 0.7); }
    .main-block .telegram span {
      color: white; }
  .main-block .form-block {
    padding-top: 41px; }
    .main-block .form-block label {
      display: block;
      font-family: Avenir Next Cyr, sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 17px;
      padding-bottom: 11.5px; }
    .main-block .form-block input {
      padding-left: 20px;
      font-family: Avenir Next Cyr, sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 20px;
      width: 400px;
      height: 55px;
      margin-bottom: 25px;
      border: solid 1px #E9E9E9;
      border-radius: 5px;
      outline: none; }
      .main-block .form-block input:focus {
        border: 1px solid #235DFF; }
    .main-block .form-block #description {
      border: solid 1px #E9E9E9;
      border-radius: 5px;
      outline: none;
      padding-top: 17.5px;
      padding-left: 20px;
      font-family: Avenir Next Cyr, sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 20px;
      width: 400px;
      height: 150px;
      resize: none; }
      .main-block .form-block #description:focus {
        border: 1px solid #235DFF; }
    .main-block .form-block .btn-primary {
      padding: 18px 83px 17px 84px;
      margin-left: 150px;
      font-family: Avenir Next Cyr, sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 20px;
      background: #235DFF;
      box-shadow: 0px 10px 40px rgba(35, 93, 255, 0.2);
      border-radius: 10px;
      border: none;
      outline: none;
      margin-top: 30px; }

.bg-secondary .footer-block-first {
  max-width: 1920px;
  margin: auto;
  padding-top: 40px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1); }
  .bg-secondary .footer-block-first .footer-logo {
    padding-bottom: 32px;
    margin: auto; }
  .bg-secondary .footer-block-first ul li {
    display: inline;
    margin-top: 40px !important; }
    .bg-secondary .footer-block-first ul li a {
      color: #ffffff;
      font-family: Avenir Next Cyr, sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 22px;
      margin-left: 50px; }
  .bg-secondary .footer-block-first p {
    font-family: Avenir Next Cyr,sans-serif;
    color: #ffffff;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px; }

/*# sourceMappingURL=contact-style.css.map */
