@font-face {
  font-family: "Avenir Next Cyr";
  src: url('../font/AvenirNextCyr/AvenirNextCyr-Regular.eot');
  src: local('Avenir Next Cyr Regular'), local('AvenirNextCyr-Regular'),
  url('../font/AvenirNextCyr/AvenirNextCyr-Regular.eot?#iefix') format('embedded-opentype'),
  url('../font/AvenirNextCyr/AvenirNextCyr-Regular.woff') format('woff'),
  url('../font/AvenirNextCyr/AvenirNextCyr-Regular.ttf') format('truetype');
  font-style: normal;
}

@font-face {
  font-family: "Proxima Nova";
  src: url('../font/proximanova/proximanova-Regular.eot');
  src: local('Proxima Nova  Regular'), local('proximanova-Regular'),
  url('../font/proximanova/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
  url('../font/proximanova/ProximaNova-Regular.woff') format('woff'),
  url('../font/proximanova/ProximaNova-Regular.ttf') format('truetype');
  font-style: normal;
}


a {
  text-decoration: none;
}

li {
  display: inline;
  list-style-type: none;
}
.bg-light{
  background-color: #FFFFFF!important;
}
.navbar-nav {
  white-space: nowrap;
}

.navbar{
  @media only screen and (max-width: 768px) {
    padding: 0.5rem 1rem;
  }
  padding: 0;

  max-width: 1670px;
  margin: auto;

  .nav-item{
    @media only screen and (max-width: 768px) {
      text-align: center;
      padding-top: 0;
    }
    font-family: "Avenir Next Cyr", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;
    padding-top: 10px;



    border-bottom: solid 3px transparent;
    &:hover {
      transition: 0.3s;
      border-bottom: solid 3px #235DFF;

    }
    .nav-link {
      @media only screen and (max-width: 768px) {
        padding: 16.6px 16px;
      }
      padding: 27.6px 16px;
      margin:0 15.2px;
      color: #364962 !important;

      &:hover {
        transition: 0.3s;
        color: #235DFF !important;
      }
    }
  }
}


.form-inline {
  @media only screen and (max-width: 768px) {
  }

  .btn {
    @media only screen and (max-width: 768px) {
      margin-right: 0;
      margin: auto;
    }
    margin-right: 352px;
    position: relative;
    color: #235DFF;
    border: solid 1px transparent;
    background: rgba(35, 93, 255, 0.1);

    &:active {
      color: #235DFF;
      border: solid 1px transparent;
      background: rgba(35, 93, 255, 0.1);

    }

  }
}

.btn-menu {
  @media only screen and (max-width: 1024px) {
    margin: auto;

  }
  @media only screen and (max-width: 767px) {
    text-align: center;
    display: block;

  }
  margin-top: 33px;
  margin-left: 750px;
  display: flex;
  justify-content: space-between;

  justify-content: end;
  margin-bottom: 38px;

  .btn-light {
    @media only screen and (max-width: 767px) {

      margin-right: 0 !important;

    }
    padding-top: 12px;
    padding-bottom: 12px;
    margin-right: 30px;
    background-color: transparent;
    border: solid 1px transparent;
    color: #235DFF;
    font-family: Avenir Next Cyr, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;

    &:active {
      border: solid 1px transparent;
      background-color: rgba(35, 93, 255, 0.1);
    }

  }

  .btn-primary {

    font-family: Avenir Next Cyr, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    padding: 12px 36px;
    border-radius: 4px;

    &:before {

    }

    a {
      color: #ffffff;
    }
  }

}

.h1 {
  font-family: Avenir Next Cyr, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 26px;
  line-height: 32px;
  padding-top: 144px;

  &:after {
    display: block;
    content: "";
    width: 50px;
    height: 2px;
    background-color: #235DFF;
    margin: auto;
    margin-top: 11px;
    margin-bottom: 40px;
  }
}

.main-block {

  @media only screen and (max-width: 1024px) {
    position: relative;


  }

  @media only screen and (max-width: 992px) {
    border: none !important;
    margin-left: -37px !important;

  }
  @media only screen and (max-width: 767px) {
    border: none !important;
    margin-left: -37px !important;

  }
  position: relative;
  z-index: 10;
  padding-bottom: 40px;
  box-sizing: border-box;
  border: 1px solid #E9E9E9;
  border-radius: 10px;
  margin: auto;

  .contact-block {
    @media only screen and (max-width: 768px) {
      border: none !important;
      left: auto;
    }


    @media only screen and (max-width: 767px) {
      border: none !important;
      left: auto;

    }
    margin-right: -74px;
    position: relative;
    z-index: 11;
    left: -70px;
    margin-top: 41px;
    background-color: #f6f9ff;
    border-radius: 5px;
    padding-bottom: 46px;

    .h2 {
      font-family: Avenir Next Cyr, sans-serif;
      font-style: normal;
      font-weight: 800;
      font-size: 20px;
      line-height: 25px;
      padding-top: 40px;
      padding-bottom: 42px;
    }

    p {
      @media only screen and (max-width: 768px) {
        padding-left: 240px !important;
      }
      @media only screen and (max-width: 767px) {
        margin-left: -47px;
      }
      @media only screen and (max-width: 768px) {
        padding-left: 132px !important;
      }
      @media only screen and (max-width: 320px) {
        padding-left: 97px !important;
      }

        padding-left: 132px;
        font-family: Avenir Next Cyr, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 22px;

      .fa-phone-alt {
        color: #235DFF;
        background-color: rgba(35, 93, 255, 0.1);
        padding: 12px;
        border-radius: 40px;
      }

      .fa-envelope {
        color: #235DFF;
        background-color: rgba(35, 93, 255, 0.1);
        padding: 12px 12px;
        border-radius: 40px;
      }
      a{
        font-family: Avenir Next Cyr,sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 22px;
        color: #364962;
      }
    }
  }

  .telegram {
    @media only screen and (max-width: 768px) {
      border: none !important;
      left: 0 !important;
    }
    margin-right: -74px;
    position: relative;
    z-index: 11;
    left: -70px;
    margin-top: 26px;
    text-align: justify;
    padding: 74px 220px 73px 50px;
    background-color: #235DFF;
    border-radius: 10px;
    background-image: url("../images/img_telegram.png");
    box-shadow: 0px 10px 40px rgba(35, 93, 255, 0.2);

    a {
      font-family: Avenir Next Cyr, sans-serif;
      font-style: normal;
      font-weight: 800;
      font-size: 22px;
      line-height: 30px;
      text-decoration: none;
      color: rgba(255, 255, 255, 0.7);

    }

    span {
      color: white;

    }
  }

  .form-block {


    @media only screen and (max-width: 992px) {
      border: none !important;
      left: 155px !important;
    }
    @media only screen and (max-width: 541px){

    left: 65px !important;

  }

    @media only screen and (max-width: 420px) {
      border: none !important;
      left: auto !important;
      padding-left: 10px;
      margin-left: 7px !important;
    }

    @media only screen and (max-width: 375px) {
      border: none !important;
      left: auto !important;
      margin-left: 35px !important;
    }
    @media only screen and (max-width: 320px) {
      border: none !important;
      left: auto !important;
      padding-left: 10px;
      margin-left: 8px !important;
    }


    padding-top: 41px;

    label {
      display: block;
      font-family: Avenir Next Cyr, sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 17px;
      padding-bottom: 11.5px;
    }

    input {
      @media only screen and (max-width: 375px) {
        width: 300px;

      }
      padding-left: 20px;
      font-family: Avenir Next Cyr, sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 20px;
      width: 400px;
      height: 55px;
      margin-bottom: 25px;
      border: solid 1px #E9E9E9;
      border-radius: 5px;
      outline: none;

      &:focus {
        border: 1px solid #235DFF;
      }

    }

    #description {
      @media only screen and (max-width: 375px) {
        width: 300px;

      }
      border: solid 1px #E9E9E9;
      border-radius: 5px;
      outline: none;
      padding-top: 17.5px;
      padding-left: 20px;
      font-family: Avenir Next Cyr, sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 20px;
      width: 400px;
      height: 150px;
      resize: none;

      &:focus {
        border: 1px solid #235DFF;
      }
    }

    .btn-primary {
      @media only screen and (max-width: 768px) {
        border: none !important;
        margin-left: 77px !important;
      }

      @media only screen and (max-width: 767px) {

        margin-left: 30px !important;

      }
      @media only screen and (max-width: 414px) {

        margin-left: 75px !important;

      }
      @media only screen and (max-width: 375px) {

        margin-left: 30px !important;

      }


      padding: 18px 83px 17px 84px;
      margin-left: 150px;
      font-family: Avenir Next Cyr, sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 20px;
      background: #235DFF;
      box-shadow: 0px 10px 40px rgba(35, 93, 255, 0.2);
      border-radius: 10px;
      border: none;
      outline: none;
      margin-top: 30px;
    }
  }
}

.foot-border {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.bg-secondary {
  margin-top: 200px;
  background-color: #364962 !important;

  .footer-block-first {
    max-width: 1920px;
    margin: auto;

    .contact-block-footer {
      @media only screen and (max-width: 1024px) {
       padding-top: 0!important;
      }


      padding-top: 52px;

      .p {
        @media only screen and (max-width: 1024px) {
          text-align: center !important;

        }

        font-family: Avenir Next Cyr, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 16px;


        color: #FFFFFF;
      }

      .border-primary {
        @media only screen and (max-width: 1024px) {

          margin-left: 368px !important;
        }
        @media only screen and (max-width: 768px) {
          margin-left: 240px !important;
        }
        @media only screen and (max-width: 541px){

          margin-left: 135px !important;

        }
        @media only screen and (max-width: 420px) {
          margin-left: 65px !important;
        }
        @media only screen and (max-width: 375px) {
          margin-left: 45px !important;
        }
        @media only screen and (max-width: 320px) {
          margin-left: 20px !important;
        }
        border-color: #99BBF6 !important;
        border-radius: 3px;
        height: 40px;
        width: 230px;
        display: block;
        font-family: Avenir Next Cyr, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 16px;
        color: #FFFFFF !important;
        padding-top: 12px;
        padding-bottom: 12px;
        margin-bottom: 8px;
        text-decoration: none;

        img {
          padding-right: 10px;
        }
      }
    }

    .footer-logo {
      @media only screen and (max-width: 1024px) {
        padding-top: 15px !important;
        text-align: center!important;
      }
      @media only screen and (max-width: 768px) {
        padding-top: 15px;
        padding-bottom: 10px;
        text-align: center!important;
      }

      padding-top: 150px;

      padding-bottom: 32px;
      margin: auto;

      img {


      }

      p {
        @media only screen and (max-width: 1024px) {
          display: block;
        }
        @media only screen and (max-width: 768px) {
display: inline-block;
          width: 100%;
          justify-content: center;
        }
        padding-top: 25px;

        font-family: "Proxima Nova", sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 22px;
        color: #FFFFFF;
        opacity: 0.7;
        display: flex;
        align-items: center;

      }
    }

    ul {
      @media only screen and (max-width: 1024px) {
        padding-top: 10px !important;
        text-align: center !important;
        margin-left: 15px !important;
      }
      @media only screen and (max-width: 768px) {
        padding-top: 10px !important;
        text-align: center !important;
        margin-left: 15px !important;
      }
      padding-top: 150px;

      li {
        @media only screen and (max-width: 767px) {
          display: block;
          margin: 10px !important;

        }
        display: inline;
        margin-top: 40px !important;

        a {
          display: block;
          color: #ffffff;
          font-family: Avenir Next Cyr, sans-serif;
          font-style: normal;
          font-weight: normal;
          font-size: 18px;
          line-height: 22px;
          margin-right: 50px;
          padding-bottom: 12px;
        }
      }
    }

    p {
      font-family: Avenir Next Cyr, sans-serif;
      color: #ffffff;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 22px;
    }
  }


}

.footer-block-second {
  max-width: 1920px;
  margin: auto;
  padding: 18px 0 24px 0;

  a {
    @media only screen and (max-width: 1024px) {
      display: block;
      text-align: center;
    }

    color: #ffffff;
    opacity: 0.4;
    font-family: Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    text-decoration-line: underline;
    padding-left: 35px;
  }

  p {
    @media only screen and (max-width: 1024px) {

      text-align: center!important;
    }
    font-family: Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    color: #ffffff;
    opacity: 0.3;
  }

  .images {
    @media only screen and (max-width: 1024px) {
      display: block;
      text-align: center!important;
    }
  }

  img {


    margin-left: 35px;
  }
}

.stores {
  @media only screen and (max-width: 1024px) {
    padding-top: 0 !important;
    text-align: center!important;
  }
  @media only screen and (max-width: 768px) {
    padding-top: 10px;

  }
  text-align: right;
  padding-top: 150px;

  p {
    font-family: Avenir Next Cyr, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;

    color: #FFFFFF;
  }
}




